/* Sets all the text color to red! */


/* @import 'flatpickr/dist/flatpickr.css'; */


/* @import 'flatpickr/dist/themes/dark.css'; */

body {
    /* color: red; */
}

.DiceRoller__container {
    display: flex;
}

.DiceRoller__container input {
    width: 60px;
}

.flatpickr-calendar {
    margin-top: -50px;
}

.suggestion {
    min-width: 220px;
}